<footer class="site-footer">
  <link rel="stylesheet" type="text/css" href="https://dbathread.com/assets/css/robin.css">
  <a href="mailto:{{site.email}}" title="mailto: {{site.email}}" target="_blank"><i class="fa fa-envelope"></i></a> &nbsp;
  <a href="https://github.com/{{site.github_username}}" title="Github ID: {{site.github_username}}" target="_blank"><i class="fa fa-github"></i></a> &nbsp;
  <p> &copy; 2018 David Wan. All Rights Reserved.</p>
   <div id="totop" class="mytotop">
      <a title="Back To Top"><img alt="Scrollup to home page of dbathread.com" src="https://dbathread.com/images/scrollup.png"/></a>
   </div>

<script type="text/javascript" defer="defer" src="https://dbathread.com/assets/js/vendor/jquery-1.9.1.min.js"></script>
<!-- Page view counter JS -->
<script type="text/javascript" async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script type="text/javascript" defer="defer" src="https://dbathread.com/assets/js/totop.js"></script>
</footer>
